
/*tablet*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header-bg{
height: 100%;
  }
  .lang {
    top: auto;
    margin-top: -50px;
  }
  .tabs .tab a {
    font-size: 18px;
  }
  .container{
    width: 100%;
  }
    .menu-item{
  font-size: 25px;
    padding-left: 15px;
}
.menu-list{
  height: auto;
}


}
